body{
	text-align:center;margin-top:300px;
}

#dock{
	width:520px;margin:0 auto;
}

#dock img{
	margin:0 -2px;
}
.attachment-dockImg{
	cursor:pointer;
	
}

#chosenImg{
	width:200px;height:200px;
}

.swapWrapper {
	position:relative;
	overflow:hidden;
	width:100px;
	height:100px;
}
